.babycol {
  background: url('../../images/background.png') 50% no-repeat;
  background-size: 130%;
  border-radius: 8px;
  color: var(--basic-white);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.babycol__title {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;

}
.babycol__description {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--basic-white);
}
.babycol__inner {
  margin-top: 32px;
  margin-bottom: 16px;
  width: max-content;
}
.babycol__image {
  margin: 0;
}