.components {
  background: var(--lightred-color);
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.components__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 32px;
  color: var(--font-color-dark);
}

.components__title b {
  display: block;
  font-weight: 700;
}

.components__list {
  list-style: none;
  padding: 0;
  margin: 0
}

.components__item {
  padding: 16px;
  border-radius: 8px;
  background: var(--basic-white);
  box-shadow: 0px 7px 36px rgba(255, 78, 80, 0.14),
    0px 5.09141px 24.2648px rgba(255, 78, 80, 0.113312),
    0px 3.54375px 15.6938px rgba(255, 78, 80, 0.0945),
    0px 2.32422px 9.73828px rgba(255, 78, 80, 0.0809375),
    0px 1.4px 5.85px rgba(255, 78, 80, 0.07),
    0px 0.738281px 3.48047px rgba(255, 78, 80, 0.0590625),
    0px 0.30625px 2.08125px rgba(255, 78, 80, 0.0455),
    0px 0.0710938px 1.10391px rgba(255, 78, 80, 0.0266875);
}

.components__item:not(:last-child) {
  margin-bottom: 32px;
}

.components__item-title {
  margin-top: 0;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns:none;
  grid-template-rows: 1fr;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
}

.components__item-title b {
  display: block;
  font-weight: 400;
  color: var(--font-color-light);
}

.components__item-title::before {
  content: '';
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.components__item-title--simeticon::before {
  background: url('../../images/simeticon.png') 50% no-repeat;
}

.components__item-title--fennel-oil::before {
  background: url('../../images/fenkhelevoe.png') 50% no-repeat;
}

.components__item-title--dill-oil::before {
  background: url('../../images/ukropnoe.png') 50% no-repeat;
}

.components__item-list {
  background: linear-gradient(0deg, #E60D2E 0%, #FF4E50 100%), #E60D2E;
  margin: 0;
  list-style: disc;
  color: var(--basic-white);
  box-shadow: 0px 7px 36px rgba(255, 78, 80, 0.14),
    0px 5.09141px 24.2648px rgba(255, 78, 80, 0.113312),
    0px 3.54375px 15.6938px rgba(255, 78, 80, 0.0945),
    0px 2.32422px 9.73828px rgba(255, 78, 80, 0.0809375),
    0px 1.4px 5.85px rgba(255, 78, 80, 0.07),
    0px 0.738281px 3.48047px rgba(255, 78, 80, 0.0590625),
    0px 0.30625px 2.08125px rgba(255, 78, 80, 0.0455),
    0px 0.0710938px 1.10391px rgba(255, 78, 80, 0.0266875);
  padding: 16px;
  padding-left: 32px;
  border-radius: 8px;
}