.indications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  margin: 0;
  background: var(--lightblue-color);
  border-radius: 8px;
  margin-bottom: 24px;
}

.indications__title {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  color: var(--font-color-dark);
}

.indications__title b {
  display: block;
  font-weight: 700;
}

.indications__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.indications__item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--font-color-light);
  margin-bottom: 16px;
  margin-top: 24px;
}

.indications__icon-wrapper {
  background: linear-gradient(180deg, #01A0E2 0%, #2077FF 100%), linear-gradient(180deg, #01A0E2 0%, #005BEA 100%), #01A0E2;
  box-shadow: 0px 7px 36px rgba(1, 160, 226, 0.14),
    0px 5.09141px 24.2648px rgba(1, 160, 226, 0.113312),
    0px 3.54375px 15.6938px rgba(1, 160, 226, 0.0945),
    0px 2.32422px 9.73828px rgba(1, 160, 226, 0.0809375),
    0px 1.4px 5.85px rgba(1, 160, 226, 0.07),
    0px 0.738281px 3.48047px rgba(1, 160, 226, 0.0590625),
    0px 0.30625px 2.08125px rgba(1, 160, 226, 0.0455),
    0px 0.0710938px 1.10391px rgba(1, 160, 226, 0.0266875);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.indications__item-icon {
  width: 48px;
  height: 48px;
  background: var(--basic-white);
  color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}