@media (min-width:623px) {
  .page-header {
    display: flex;
  }

  .page-header__logo {
    width: 140px;
    height: 80px;
    margin: 0;
    margin-right: 56px;
  }

  .page-header__title {
    margin: 0;
    order: 2;
    font-size: 48px;
    margin-right: 41px;
  }

  .page-header__button {
    margin-top: 20px;
    flex-grow: 0;
    min-height: 48px;
    display: flex;
    height: 48px;
    flex-grow: 1;
  }

  .page-header__button::after {
    content: '';
  }

  .page-header__button--red {
    margin-right: 16px;
  }

  .page-header__icon {
    margin: 0;
  }

  /* Baby call */

  .babycol__title {
    font-size: 60px;
  }

  .babycol__title,
  .babycol__description {
    text-align: right;
  }

  .babycol__image {
    width: 455px;
    height: 452px;
    margin: 0;
  }

  /* advantages */

  .advantages__item {
    display: flex;
    flex-direction: row;
  }

  .advantages__item-title {
    flex-wrap: nowrap;
    margin-right: 16px;
  }

  .advantages__item-title--safety {
    margin-right: 30px;
  }

  .advantages__item-title--fasty {
    margin-right: 54px;
  }

  .advantages__item-description {
    display: flex;
    flex-grow: 1;
  }

  /* components */

  .components__item {
    display: flex;
    flex-direction: row;
  }

  .components__item-title {
    margin-right: 16px;
  }

  .components__item-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .components__item-title--simeticon {
    margin-right: 60px;
  }

  .components__item-title--fennel-oil {
    margin-right: 10px;
  }

  .components__item-title--dill-oil {
    margin-right: 32px;
  }

  /* indications */

  .indications__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .indications__icon-wrapper--left-side {
    margin-right: 24px;
  }

  /* application */

  .application__list {
    display: flex;
    justify-content: center;
  }

  .application__term--baby-six-month::after {
    width: 154px;
    height: 272px;
    background: url('../../images/first-baby.png') 50% no-repeat;
    background-size: 120%;
    margin-right: 24px;
  }

  .application__term--baby-six-twelve-month::after {
    width: 154px;
    height: 272px;
    background: url('../../images/second-baby.png') 50% no-repeat;
    background-size: 100%;
    margin-right: 24px;
  }

  .application__term--baby-one-year::after {
    width: 154px;
    height: 272px;
    background: url('../../images/third-baby.png') 50% no-repeat;
    background-size: 120%;
  }

  /* page footer */

  .page-footer__bell-icon {
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
    color: var(--basic-white);
    background: linear-gradient(180deg, #01A0E2 0%, #2077FF 100%), linear-gradient(180deg, #01A0E2 0%, #005BEA 100%), #01A0E2;
    box-shadow: 0px 7px 36px rgba(1, 160, 226, 0.14),
      0px 5.09141px 24.2648px rgba(1, 160, 226, 0.113312),
      0px 3.54375px 15.6938px rgba(1, 160, 226, 0.0945),
      0px 2.32422px 9.73828px rgba(1, 160, 226, 0.0809375),
      0px 1.4px 5.85px rgba(1, 160, 226, 0.07),
      0px 0.738281px 3.48047px rgba(1, 160, 226, 0.0590625),
      0px 0.30625px 2.08125px rgba(1, 160, 226, 0.0455),
      0px 0.0710938px 1.10391px rgba(1, 160, 226, 0.0266875);
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .page-footer__warning {
    display: flex;
    align-items: center;
    color: var(--font-color-light);
  }
}