:root {
  --basic-white: #fff;
  --basic-black: #000;
  --primary-color: #E60D2E;
  --secondary-color: #01A0E2;
  --lightblue-color: #DAF4FF;
  --lightred-color: #FFEAED;
  --font-color-light: #4D4D4D;
  --font-color-dark: #1D1D1D;
}